---
import { getInv } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import Picture from "astro/components/Picture.astro";

const { id } = Astro.params;
const inv = await getInv(id);
if(!inv){
   return Astro.redirect('/invites');
};

console.log(inv);
---

<Layout titre = {inv.Nom_R}>
    <a href="/invites">Retour à la liste</a>
    <Picture pictureAttributes={{ class: "size-fit max-w-[250px] max-h-[300px] flex overflow-hidden" }} inferSize={true} src=`https://vissport.pauldarlef.fr:443/api/files/${inv.collectionId}/${inv.id}/${inv.Photo_I}` alt={inv.Nom_I} /></a>
    <h1 class="text-4xl font-bold text-blue-800">{inv.Nom_R}</h1>
    <div class="" set:html={inv.Biographie}></div>
    <div>Films/activités associés</div>
</Layout>