---
import { Picture } from 'astro:assets';
import { formatDate } from '../../backend/backend.mjs';

const {...real} = Astro.props;
const date = formatDate(real.Date_naissance_R);

---
<div class="mb-15 text-center align-baseline items-center">
    <a href={`/reals/${real.id}`}>
        <img src={real.img} alt={real.Nom_R} class="size-fit block m-auto max-w-[250px] max-h-[300px] border-5 border-blue-500 overflow-hidden" />
    </a>
    <h2>{real.Nom_R}</h2>
    <ul class="*:mt-4">
        <li>Né le {date}</li>
        <li>{real.Est_Invite}</li>
    </ul>
    <a class="col-start-2 col-end-2 font-bold text-white bg-black p-3.5 rounded-md border-solid border-red-600/100 m-10" href={`/reals/${real.id}`}>En voir plus</a>
</div>