---
import { Picture } from 'astro:assets';

const {...inv} = Astro.props;
---
<div class="grid mb-15 text-center align-baseline items-center">
    <div class="place-content-center mb-15 ">
        <a href={`/invites/${inv.id}`}>
            <img src={inv.img} alt={inv.Nom_I} class="size-fit block m-auto max-w-[250px] max-h-[300px]" />
        </a>
        <div class="mt-[50px] *:mb-12">
            <h2 class="text-orange-400 font-bold mt-15">{inv.Nom_I}</h2>
            <a class="block font-bold text-white bg-black p-3.5 rounded-md border border-solid border-red-600/100 m-10" href={`/invites/${inv.id}`}>En voir plus</a>
        </div>
    </div>
</div>