---
import { getActivite } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import Picture from "astro/components/Picture.astro";

const { id } = Astro.params;
const act = await getActivite(id);
if(!act){
   return Astro.redirect('/activites');
};

console.log(act);
---

<Layout titre = {act.Titre_A}>
    <a href="/activites" class="bg-black text-white p-4 block border-2 border-red-500 rounded-2xl w-fit ml-5 mt-2">Retour à la liste</a>
    <div class="text-center *:my-6 mx-4 lg:grid lg:grid-cols-2 lg:grid-rows-3">
        <img src={act.img} alt={act.Titre_A} class="mx-auto my-5 lg:row-span-3 inline-block max-w-[250px] max-h-[300px]" />
        <h1 class="text-4xl font-bold text-blue-800 lg:col-start-2">{act.Titre_A}</h1>
        <div class="text-base" set:html={act.Resume_A}></div>
    </div>
</Layout>