---
import { getReal } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import Picture from "astro/components/Picture.astro";

const { id } = Astro.params;
const real = await getReal(id);
if(!real){
   return Astro.redirect('/reals');
};

console.log(real);
---

<Layout titre = {real.Nom_R}>
    <a href="/reals">Retour à la liste</a>
    <Picture pictureAttributes={{ class: "block rounded-t-lg overflow-hidden" }} inferSize={true} src=`http://127.0.0.1:8090/api/files/${real.collectionId}/${real.id}/${real.Image_R}` alt={real.Nom_R} />
    <h1 class="text-4xl font-bold text-blue-800">{real.Nom_R}</h1>
    <h2>{real.Date_naissance_R}</h2>
    <div class="" set:html={real.Bio_R}></div>
</Layout>