---
import { getReal, allFilmsByRealId, formatDate } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import Picture from "astro/components/Picture.astro";
import Carroussel from "../../components/Carroussel.astro";

const { id } = Astro.params;
const real = await getReal(id);
if(!real){
   return Astro.redirect('/reals');
};
const films = await allFilmsByRealId(id);
const date = formatDate(real.Date_naissance_R);
console.log(real);
---

<Layout titre = {real.Nom_R}>
    <a class="bg-black text-white p-4 block border-2 border-red-500 rounded-2xl w-fit ml-5 mt-2" href="/reals">Retour à la liste</a>
    <div class="text-center *:my-6 mx-4 lg:grid lg:grid-cols-2 lg:grid-rows-2">
        <img src={real.img} alt={real.Nom_R} class="mx-auto my-5 lg:row-start-1 inline-block max-w-[250px] max-h-[300px]" />
        <div>
            <h1 class="text-4xl font-bold text-blue-800">{real.Nom_R}</h1>
            <h2>Né le {date}</h2>
        </div>
        <div class="text-base my-12" set:html={real.Bio_R}></div>
    </div>

    <ul>
        {
            <Carroussel films={films} />
        }
    </ul>
</Layout>